body {
  font-family: sans-serif;
}
.hero {
  background-image: url('koty_hero.jpg');
  background-size: cover;
  height: 400px;
  text-align:center;
  padding: 20px;
}
h1 {
  padding-bottom: 2em;
  font-size: 3em;
  color: blue;
}
p {
  color: black;
}
.facts {
  padding: 0 20px;
}
.fact {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}
.links {
  background-color: #f2f2f2;
  padding: 20px;
}
.links a {
  text-decoration: none;
  padding: 5px;
  color: #000;
}
.info {
  background-color: #f2f2f2;
  padding: 20px;
}
.info h2 {
  margin-bottom: 10px;
}
.nav {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
.nav a {
  text-decoration: none;
  padding: 5px;
  color: #000;
}
.contacts {
background-color:blanchedalmond;
  padding: 5px;
  text-align: center;
}